<div class='container'>
  <%= tag.div class: wrapper_row_classes do %>
    <%= tag.div class: wrapper_columns_classes do %>

    <h2 class="display-3">Sign up</h2>

    <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= render "devise/shared/labeled_email_field",    form: form, name: :email %>

      <%= render "devise/shared/labeled_password_field",
                  form: form,
                  name: :password,
                  note: "#{@minimum_password_length} characters minimum" %>

      <%= render "devise/shared/labeled_password_field", form: form, name: :password_confirmation %>

      <div class="actions">
        <%= form.submit "Sign up →" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

    <% end %>
  <% end %>
</div><!-- .container -->
