<header class='navbar navbar-expand bg-body-tertiary mb-5'>
  <div class='container'>

    <%= link_to :root, class: 'navbar-brand fw-bold d-flex align-items-center' do %>
      <%= image_tag_for_brand %>
      <%= setting_for_brand_name %>
    <% end %>

    <ul class='navbar-nav me-auto'>
      <li class='nav-item'>
        <%= link_to 'Categories', categories_path, class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Tags', tags_path, class: 'nav-link' %>
      </li>
    </ul>

    <ul class='navbar-nav'>
      <% if authenticated? %>
        <li class='nav-item dropdown'>
          <a class='nav-link dropdown-toggle' href='#' role='button' data-bs-toggle='dropdown'>
            <%= Current.user.email_address %>
          </a>
          <ul class='dropdown-menu'>
            <li class='dropdown-header'>ADMIN</li>
            <li><%= link_to 'Site Settings', :settings, class: 'dropdown-item' %></li>
            <li><hr class='dropdown-divider'></li>
            <li><%= link_to 'Sign Out', session_path, method: :delete, class: 'dropdown-item' %></li>
          </ul>
        </li>
      <% else %>
        <li class='nav-item'>
          <%= link_to 'Sign In', new_session_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Sign Up', new_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

  </div>
</header>
