<header class='navbar navbar-expand bg-body-tertiary mb-5'>
  <div class='container'>

    <%= link_to :root, class: 'navbar-brand fw-bold d-flex align-items-center' do %>
      <%= image_tag_for_brand %>
      <%= setting_for_brand_name %>
    <% end %>

    <ul class='navbar-nav me-auto'>
      <li class='nav-item'>
        <a class='nav-link' href='#'>Link</a>
      </li>
    </ul>

    <ul class='navbar-nav'>
      <li class='nav-item dropstart'>
        <a class='nav-link dropdown-toggle' href='#' role='button' data-bs-toggle='dropdown'>
          <span class='visually-hidden'>Settings</span>
          <%= icon_tag :gear, size: '30x30', fill: :gray %>
        </a>

        <ul class='dropdown-menu'>
          <li class='dropdown-header'>ADMIN</li>
          <li><%= link_to 'Site Settings', :settings, class: 'dropdown-item' %></li>
        </ul>
      </li>
    </ul>

  </div>
</header>
