<header class='navbar navbar-expand bg-body-tertiary mb-5'>
  <div class='container'>

    <%= link_to :root, class: 'navbar-brand fw-bold d-flex align-items-center' do %>
      <%= image_tag_for_brand %>
      <%= setting_for_brand_name %>
    <% end %>

    <% if Current.user.present? %>
      <ul class='navbar-nav me-auto'>
        <li class='nav-item'>
          <a class='nav-link' href='#'>Link</a>
        </li>
      </ul>

      <ul class='navbar-nav'>
        <li class='nav-item'>
          <%= link_to '#', class: 'text-decoration-none nav-link' do %>
            <%= icon_tag :person, size: '30x30', fill: :white, class: 'rounded-circle bg-secondary p-1' %>
          <% end %>
        </li>

        <li class='nav-item dropstart'>
          <a class='nav-link dropdown-toggle' href='#' role='button' data-bs-toggle='dropdown'>
            <span class='visually-hidden'>Settings</span>
            <%= icon_tag :gear, size: '30x30', fill: :gray %>
          </a>

          <ul class='dropdown-menu'>
            <% if Current.user.has_role? :admin %>
              <li class='dropdown-header'>ADMIN</li>
              <li><%= link_to 'Site Settings', :settings, class: 'dropdown-item' %></li>
              <li><%= link_to 'Administration', '/admin', class: 'dropdown-item' %></li>
              <li class='dropdown-divider'></li>
            <% end %>

            <li><%= link_to 'Profile', [:profile, username: Current.user.username], class: 'dropdown-item' %></li>
            <li><%= link_to 'Account', :account, class: 'dropdown-item' %></li>

            <li class='dropdown-divider'></li>
            <li><%= link_to 'Sign Out', :signout, data: { turbo_method: :delete }, class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>

    <% else %>
      <div class="ms-auto">
        <%= link_to 'Sign in',  :signin, class: 'btn btn-outline-primary' %>
        <%= link_to 'SIGN UP',  :signup, class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</header>
