<!DOCTYPE html>
<%= tag.html lang: setting_for_site_locale do %>
  <head>
    <title><%= setting_for_page_title %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Meta tags required for Bootstrap %>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <%# Meta tags for progressive web apps %>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='yes' name='mobile-web-app-capable'>
    <% if false %>
      <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
      <link rel='manifest' href='<%= pwa_manifest_path format: :json %>'>
    <% end %>

    <link rel='icon' href='/icon.png' type='image/png'>
    <link rel='icon' href='/icon.svg' type='image/svg+xml'>
    <link rel='apple-touch-icon' href='/icon.png'>

    <%# Loaded from /vendor/assets/stylesheets/bootstrap.css, update it using the above guidance %>
    <%= stylesheet_link_tag 'bootstrap.css', "data-turbo-track": "reload" %>

    <% if Rails.env.development? %>
      <%# Highlight any text which doesn’t have a translation in locales YAML %>
      <style>.translation_missing { outline: 5px solid #ff0080; }</style>
    <% end %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

    <%= render 'layouts/auto_dark_mode' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/alerts' %>

    <%= yield %>
  </body>
<% end %>
